@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

h1, h2, h3, h4, h5, h6, strong {
       font-weight: 500;
}

body {
	font-family: 'Gamja Flower', "Courier New", Courier, "courier new", courier, monospace;
	font-size: 150%;
    line-height: 96%;
	font-weight: normal;
	background-color: black;
	color: white;
}

@keyframes loonaonethird {
  00.00%	{ color:#FF007F; }
  12.50%	{ color:#FF007F; }

  25.00%	{ color:#FFFF00; }
  37.50%	{ color:#FFFF00; }

  50.00%	{ color:#00BF00; }
  62.50%	{ color:#00BF00; }
  68.75%	{ color:#AABBDD; }
  75.00%	{ color:#FFBFFF; }
  87.50%	{ color:#FFBFFF; }

  100.0%	{ color:#FF007F; }
}

@keyframes loonaoddeyecircle {
  00.00%	{ color:#FF2222; }
  16.66%	{ color:#FF2222; }

  33.33%	{ color:#3333FF; }
  50.00%	{ color:#3333FF; }

  66.67%	{ color:#C027D0; }
  83.33%	{ color:#C027D0; }

  100.0%	{ color:#FF2222; }
}

@keyframes loonayouthyouthbyyoung {
  00.00%	{ color:#8F082F; }
  12.50%	{ color:#8F082F; }

  25.00%	{ color:#FF9F7F; }
  37.50%	{ color:#FF9F7F; }

  50.00%	{ color:#3FDF9F; }
  62.50%	{ color:#3FDF9F; }

  75.00%	{ color:#9F9F9F; }
  87.50%	{ color:#9F9F9F; }

  100.0%	{ color:#8F082F; }
}

@keyframes loonaot12 {
  00.00% { color:#FF007F; }
  04.17% { color:#FF007F; }
  08.33% { color:#FFFF00; }
  12.50% { color:#FFFF00; }
  16.67% { color:#00BF00; }
  20.83% { color:#00BF00; }
  25.00% { color:#FF7F00; }
  29.17% { color:#FF7F00; }
  33.33% { color:#FFBFFF; }
  37.50% { color:#FFBFFF; }
  41.67% { color:#FF2222; }
  45.83% { color:#FF2222; }
  50.00% { color:#3333FF; }
  54.17% { color:#3333FF; }
  58.33% { color:#C027D0; }
  62.50% { color:#C027D0; }
  66.67% { color:#8F082F; }
  70.83% { color:#8F082F; }
  75.00% { color:#FF9F7F; }
  79.17% { color:#FF9F7F; }
  83.33% { color:#3FDF9F; }
  87.50% { color:#3FDF9F; }
  91.67% { color:#9F9F9F; }
  95.83% { color:#9F9F9F; }
  100.0% { color:#FF007F; }
}

a {
	color: #0ff;
}

a:visited {
	color: #f0f;
}

.heejin		{ color: #FF00BF; }
.hyunjin	{ color: #FFEF00; }
.haseul		{ color: #0FBF00; }
.yeojin		{ color: #FF7F00; }
.vivi		{ color: #DFBFFF; }
.kimlip		{ color: #00FF00; }
.jinsoul	{ color: #005FFF; }
.choerry	{ color: #AF0097; }
.yves		{ color: #9F0F4F; }
.chuu		{ color: #FFBF7F; }
.gowon		{ color: #2FEF87; }
.hyeju		{ color: #9F9F9F; }
.third		{ animation: loonaonethird 3s linear 0s infinite normal none; }
.circle		{ animation: loonaoddeyecircle 3s linear 0s infinite normal none; }
.youth		{ animation: loonayouthyouthbyyoung 3s linear 0s infinite normal none; }
.ot12		{ animation: loonaot12 6s linear 0s infinite normal none; }
